@model luasan.Models.Luasan

@{
    ViewData["Title"] = "Edit";
}


<h4>Luasan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Lokasi" class="control-label"></label>
                <input asp-for="Lokasi" class="form-control" />
                <span asp-validation-for="Lokasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kapasitas" class="control-label"></label>
                <input asp-for="Kapasitas" class="form-control" />
                <span asp-validation-for="Kapasitas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
